<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Simple Blog</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Categories</li>
          <% @categories.each do |cat| %>
            <li><a href="/"><%= cat.category_name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>
